# BTC
RPC_USER = 'bitcoinrpc'
RPC_PASSWORD = 'PASSWORD GOES HERE'
RPC_PORT = 8332
CURRENCY_A = 'BTC'

#FLO
CURRENCY_B_RPC_USER = 'florincoinrpc'
CURRENCY_B_RPC_PASSWORD = 'PASSWORD GOES HERE'
CURRENCY_B_RPC_PORT = 18322
CURRENCY_B = 'FLO'

DATABASE = '/path/to/alexandria_payment.db'
DEBUG = False

